extends layout

block content
	.flex-center
		.inner.center.home-content
			h1.home-logo Shufflr
			p Shuffle & copy your Instagram hashtag lists.
			a.button.button--login(href="/auth/instagram")
				span!= h.icon('instagram') + 'Connect with Instagram'