.top {
	padding: 1.25rem;
	border-bottom: 1px solid #E9ECF0;
	text-align: center;
	position: relative;
	margin: 0 0 30px;

	.logo {
		font-size: 30px;
		font-weight: 500;
	}

	.logout {
		position: absolute;
		right: 1.25rem;
		top: 50%;
		transform: translateY(-50%);
		opacity: 0.5;
	}
}

.inner {
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	max-width: 500px;

	@include mq(25em) {
		padding: 20px;
	}
}

.card {
	background: #FFF;
	box-shadow: 0 5px 10px rgba(0,0,0,0.18);
	padding: 10px;
	position: relative;

	@include mq(25em) {
		padding: 15px;
	}

	@include mq(35em) {
		padding: 20px;
	}
}

[type="text"] {
	border: 1px solid #DDD;
	background: #FFF;
	color: #555;
	width: 100%;
	display: block;
	font: inherit;
	padding: 10px;
	margin: 0 0 10px;
	outline: none;

	&:focus {
		outline: 1px solid $purple;
	}
}

.button {
	-webkit-tap-highlight-color: transparent;
	-webkit-appearance: none;
	text-decoration: none;
	letter-spacing: 0.0375em;
	border-radius: 0;
	line-height: 1;
	background: $purple;
	transition: 300ms all;
	text-align: center;
	box-shadow: none;
	max-width: 100%;
	display: inline-block;
	padding: 11px 11px 10px;
	outline: none;
	margin: 0 0 10px;
	cursor: pointer;
	border: none;
	width: 100%;
	color: #FFF;
	font: 500 0.75em 'Montserrat', sans-serif;

	&:hover {
		background: darken($purple, 5%);
	}

	&--hidden {
		display: none;
	}

	&--light {
		background: #E6DCF1;
		color: $purple;

		&:hover {
			background: darken(#E6DCF1, 5%);
		}
	}

	&--success {
		background: #52ec93;
		color: #FFF;

		&:hover {
			background: darken(#52ec93, 5%);
		}
	}

	&--login {
		font-size: 16px;
		background: linear-gradient(to left, #7F38A7, #A264C5);
		position: relative;
		padding: 20px 5px;

		svg {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
		}

		span {
			position: relative;
			padding-left: 45px;
		}

		&:hover {
			background: linear-gradient(to left, #6F2897, #A264C5);
		}
	}
}

.tags {
	margin: 15px 0;

	.tag {
		-webkit-tap-highlight-color: transparent;
		user-select: none;
		margin: 0 7px 7px 0;
		background: #E3ECF4;
		padding: 3px 31px 2px 7px;
		display: inline-block;
		max-width: 100%;
		position: relative;
		border-radius: 30px;
		font-size: 0.75em;
		cursor: pointer;

		&:after {
			content: '';
			width: 1.0833em;
			height: 100%;
			background: url('data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxMyAxMyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48ZyBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPjxjaXJjbGUgZmlsbD0iIzdGMzhBNyIgY3g9IjYuNSIgY3k9IjYuNSIgcj0iNi41Ii8+PHBhdGggZD0iTTQuNSA4LjVsNC00TTguNSA4LjVsLTQtNCIgc3Ryb2tlPSIjRkZGIiBzdHJva2UtbGluZWNhcD0ic3F1YXJlIi8+PC9nPjwvc3ZnPg==') center /100% auto no-repeat;
			position: absolute;
			right: 6px;
			top: 0;
		}
	}

	.tag--add {
		background: $purple;
		color: #FFF;

		&:after {
			background-image: url('data:image/svg+xml;charset=utf-8;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxMyAxMyIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj48cGF0aCBkPSJNNiA2SDN2MWgzdjNoMVY3aDNWNkg3VjNINnYzem0uNSA3QzIuOSAxMyAwIDEwLjEgMCA2LjVTMi45IDAgNi41IDAgMTMgMi45IDEzIDYuNSAxMC4xIDEzIDYuNSAxM3oiIGZpbGw9IiNGOEZDRkYiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvc3ZnPg==');
		}
	}

	.tag--full {
		opacity: 0.5;
		cursor: disabled;
	}
}


.photo-page {
	&__image {
		width: 150px;
		margin: -30px auto 20px;
		box-shadow: 0 5px 10px rgba(0,0,0,0.18);

		@include mq(35em) {
			margin: -45px auto 30px;
		}
	}

	&__textarea {
		border: 0;
		clip: rect( 1px, 1px, 1px, 1px );
		clip-path: inset( 50% );
		height: 1px;
		margin: -1px;
		overflow: hidden;
		padding: 0;
		position: absolute;
		width: 1px;
		word-wrap: normal;
	}

	.button--light {
		width: calc(50% - 5px);

		& + .button--light {
			margin-left: 10px;
		}
	}

}

.new-tag {
	position: relative;
	display: none;

	&.show {
		display: block;
	}

	[type="submit"] {
		height: 100%;
		width: auto;
		position: absolute;
		right: 0;
		top: 0;
	}

	[type="text"] {
		padding-right: 59px;
	}
}


.photo-preview {
	padding-left: 7.142em;
	margin-bottom: 30px;
	min-height: 5em;
	font-size: 0.875em;

	&__link {
		position: absolute;
		left: 0;
		top: 0;
		width: 100%;
		height: 100%;
		z-index: 1;
	}

	&__image {
		object-fit: cover;
		width: 5em;
		height: 5em;
		position: absolute;
		left: 10px;
		top: -10px;
	}
}


.home-logo {
	font-size: 50px;


	&:first-child {
		margin: 0 0 1rem;
	}
}

.flex-center {
	min-height: 100vh;
	width: 100%;
	justify-content: center;
	display: flex;
	flex-direction: column;

	> * {
		width: 100%;
	}

	.inner {
		max-width: 400px;
	}
}

.home-content {
	padding-left: 20px;
	padding-right: 20px;

	p {
		font-weight: 500;
		font-size: 20px;
	}
}