$grey: #F6FAFD;
$purple: #7F38A7;

body {
	-moz-osx-font-smoothing: grayscale;
	 -webkit-font-smoothing: antialiased;
	background: $grey;
	color: $purple;
	font: 300 16px /1.4 'Montserrat', sans-serif;

	@include mq(25em) {
		font-size: 18px;
	}

	@include mq(35em) {
		font-size: 20px;
	}
}