pre,
ol,
ul,
form,
figure,
hr {
	padding: 0;
	margin: 0;
}

img {
	max-width: 100%;
	display: block;
	height: auto;
}

ol, ul, li {
	list-style: none;
}

article,
aside,
figure,
footer,
header,
main,
nav,
section {
	display: block;
}

html {
	box-sizing: border-box;
}

*, *:before, *:after {
	box-sizing: inherit;
}

html,
body {
	margin: 0;
	padding: 0;
}