h1,
h2,
h3,
h4 {
	font-weight: 500;
	margin: 0 0 1.5rem;
}

h1 {
	font-size: 1.2em;

	&:first-child {
		margin: -30px 0 40px;
	}
}

a {
	text-decoration: none;
	color: inherit;
}

img {
	max-width: 100%;
	margin: 0 auto;
	height: auto;
}

p,
ul,
ol {
	margin: 0 0 1.5rem;
}

.center {
	text-align: center;
}